# development
.env
tmp/

# IntelliJ IDEA
.idea
*.iml

# Metals / Bloop
.metals
**/.bloop/
**/metals.sbt

# VSCode
.vscode

# sbt
.bsp/
target/
*/target/
project/**/target/

# scala / java
*.class

# misc
*.log

